{% extends "administration/base_admin.html" %}
{% block title %}Dashboard Administration{% endblock %}

{% block admin_content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Tableau de bord Administration</h2>
</div>

<div class="row g-3 admin-kpi">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6>Entreprises clientes</h6>
                <h3>{{ nb_entreprises }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6>Agences</h6>
                <h3>{{ nb_agences }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6>Agents</h6>
                <h3>{{ nb_agents }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6>Paramètres</h6>
                <h3>{{ nb_parametres }}</h3>
            </div>
        </div>
    </div>
	<div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6>Villes de livraison</h6>
                <h3>{{ nb_villes }}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}